@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Este é um exemplo de criação de Cadastro de Categorias e Produtos feito em Asp.Net com MVC e Entityframeworkcore</a>.</p>
</div>
